@use '/src/styles/mixin';

.reservation-list{
  @include mixin.flex-box(column, flex-start, center);
  width: 50%;
  height: 400px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mixin.mobile {
    width: 100%;
  }
}