@use '/src/styles/mixin';

.reservation-info-container {
  @include mixin.card-style();
  @include mixin.flex-box(column, space-evenly, center);
  width: 400px;
  min-width: 400px;
  height: 550px;
  padding: 12px 24px;

  .header{
    font-size: 24px;
  }
  .info-list{
    @include mixin.flex-box(column, space-evenly, flex-start);
    height: 200px;
    width: 100%;
    .key{
      margin-right: 50px;
      color: darkgray;
    }
    .user-memo{
      padding-top: 2px;
      height: 45px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &.request{
      height: 20px;
    }
  }

}