@use '/src/styles/mixin';
@use '/src/styles/Constant';

.reservation-item-container{
  @include mixin.card-style();
  @include mixin.flex-box(row, space-around, center);
  flex-shrink: 0;
  width: 95%;
  height: 100px;
  margin: 5px;
  .left-section{
    text-align: center;
    width: 15%;
    > * {
      margin: 5px 0;
      padding-top: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .middle-section{
    width: 50%;
    > * {
      padding-top: 2px;

      margin: 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
    .button{
      color: Constant.$white;
      background: Constant.$primary;
      width: 65px;
      height: 30px;
      border-radius: 5px;
      &.reserved{
        border: 1px solid black;
        color: black;
        background: none;
    }
  }
}