@use 'Constant';
@use 'mixin';

body{
  background: Constant.$background;
  width: 100vw;
  height: 100vh;
}

button:hover{
  cursor: pointer;
}
*{
  box-sizing: border-box;
  @include mixin.mobile{
    overflow: hidden;
  }
}

.title{
  font-size: 48px;
  text-align: center;
  margin: 20px 0 0 0;
}